@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Сервис базы данных КЛАДР</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="lead">@Html.ActionLink("Войдите", "Login", "Account"), чтобы посмотреть статистику</p>
    }
    else
    {
        <p class="lead">На сайте доступна @Html.ActionLink("статистика", "Statistics", "Account") пользователей</p>
    }
</div>
